# Dependency directories
parking-system-client/node_modules/
Server-side/node_modules/

# Environment variables
.env
parking-system-client/.env


# Production build files
parking-system-client/build/
Server-side/build/

# Log files
*.log

# Others
.DS_Store
