/* ParkingStatus.css */

.title{
        margin-top: 20px;
        font-size: 24px;;
        font-weight: bold;
        color: #5046E5;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        }
          
.parking-card {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        margin: 20px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
      }
      
      .space-title {
        color: #333;
        font-size: 18px;
        margin-bottom: 10px;
      }
      
      .status-toggle {
        padding: 8px 16px;
        color: white;
        border-radius: 20px;
        font-weight: bold;
        background-color: #32cd32; /* Green by default */
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
      }
      
      .status-toggle.occupied {
        background-color: #ff6347;
        display: flex;
        justify-content: center; /* Red when occupied */
      }
      
      .fee-info {
        color: #5046E5; /* Theme color */
        font-size: 16px;
        margin-top: 10px;
      }
      
      .timer-styled {
        margin-top: 5px;
        padding: 5px;
        color: #5046E5;
        font-size: 16px;
        display: flex;
        justify-content: center;
      }
      